In [2]:
import plotly.offline as pyo
import plotly.figure_factory as ff
import numpy as np

In [7]:
x1 = np.random.randn(200) - 2
x2 = np.random.randn(200)
x3 = np.random.randn(200) + 2
x4 = np.random.randn(200) + 4

In [10]:
hist_data = [x1, x2, x3, x4]
group_labels = ['X1', 'X2', 'X3', 'X4']

In [13]:
fig = ff.create_distplot(hist_data, group_labels, bin_size=[0.2, 0.1, 0.3, 0.4])
pyo.plot(fig)

'temp-plot.html'

In [14]:
snodgrass = [.209,.205,.196,.210,.202,.207,.224,.223,.220,.201]
twain = [.225,.262,.217,.240,.230,.229,.235,.217]

In [15]:
hist_data = [snodgrass, twain]
group_labels = ['Snodgrass Writings', 'Mark Twain Writings']

In [19]:
fig = ff.create_distplot(hist_data, group_labels, bin_size=[0.005, 0.005])
pyo.plot(fig)

'temp-plot.html'

# Exercise

In [20]:
df = pd.read_csv('../Data/iris.csv')
df.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [28]:
hist_data = [df.sepal_length, df.sepal_width, df.petal_length, df.petal_width]
group_labels = ['Sepal Length', 'Sepal Width', 'Petal Length', 'Petal Width']

fig = ff.create_distplot(hist_data, group_labels, bin_size=[0.1, 0.1, 0.1, 0.1])
pyo.plot(fig)

'temp-plot.html'

In [29]:
df_pl = df[['petal_length', 'class']]
df_pl.head()

   petal_length        class
0           1.4  Iris-setosa
1           1.4  Iris-setosa
2           1.3  Iris-setosa
3           1.5  Iris-setosa
4           1.4  Iris-setosa

In [32]:
df['class'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [36]:
setosa = df_pl.loc[df_pl['class'] == 'Iris-setosa', 'petal_length'].values
versicolor = df_pl.loc[df_pl['class'] == 'Iris-versicolor', 'petal_length'].values
virginica = df_pl.loc[df_pl['class'] == 'Iris-virginica', 'petal_length'].values

In [37]:
hist_data = [setosa, versicolor, virginica]
group_labels = df['class'].unique()

fig = ff.create_distplot(hist_data, group_labels, bin_size=[0.1, 0.1, 0.1, 0.1])
pyo.plot(fig)

'temp-plot.html'